.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

.my-button-class {
  /* If you use display: block and add more buttons in the code */
  /* they would appear below each other. If you say display: inline-block they will be next to each other */
  display: inline-block;
  /* Button will not take up 100% of width by default so you might want to set this to 100% */
  width: 100%;
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
